.contactcontainer {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  width: 250px;
  border-radius: 20px;
  background-color: transparent;
  margin: 5px;
  margin: auto;
  margin-bottom: 10px;
}

.contactcontainer svg {
  font-size: 3em;
  transition: all 0.5s ease-in-out 0s;
  color: var(--clr-primary);
  border: 3px solid var(--clr-primary);
  border-radius: 20%;
}

.mailNumber .email {
  font-size: 2em;
  transition: all 0.5s ease-in-out 0s;
  color: var(--clr-primary);
}

.contactcontainer svg:hover {
  font-size: 4rem;
}

.contactMain {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
}

@media (max-width: 670px) {
  .contactcontainer svg {
    font-size: 2em;
  }

  .contactcontainer {
    width: 70%;
  }

  .contactMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .iconsCont {
    width: 90%;
  }

  .contactcontainer svg:hover {
    font-size: 3rem;
  }
}
