/* .footer {
  text-align: center;
  color: var(--clr-primary);
}

.footerBox {
  width: 50%;
  margin: auto;
  background-color: transparent;
  padding: 20px;
  height: auto;
}

@media (max-width: 600px) {
  .footerBox {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
  }
} */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--clr-fg);
  padding: 20px;
  height: 200px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-link {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 10px;
  }
}
