.footer {
  text-align: center;
  color: var(--clr-primary);
}

.footerBox {
  width: 50%;
  margin: auto;
  background-color: transparent;
  padding: 20px;
  height: auto;
}

@media (max-width: 600px) {
  .footerBox {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
  }
}
